<phpunit
	backupGlobals="false"
	backupStaticAttributes="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnFailure="false"
	syntaxCheck="false"
	bootstrap="vendor/autoload.php"
>
	<php>
		<ini name="xdebug.max_nesting_level" value="500" />
	</php>
	<testsuites>
		<testsuite name="unit">
			<directory>./test/unit</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<directory>./class</directory>
			<exclude>
				<directory suffix=".php">./test/lib</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
